src/main/mule/hellojenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab3f1ec8-cd5f-44a9-8ba5-4fdcc025c1c8" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="fbb37465-da7b-4584-ab26-15019e0b0a56" file="port.yaml" />
	<flow name="hellojenkinsFlow" doc:id="caf3d4ba-6eb4-4a91-9203-31b43fd80cdb" >
		<http:listener doc:name="Listener" doc:id="2d791672-e7f6-4c00-bec5-da0ab3f2a850" config-ref="HTTP_Listener_config" path="jenkins"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;"message":"welcme to ci/cd implementation"]' doc:name="Set Payload" doc:id="437f74e5-b58f-4abc-97d0-8ee1f014d4e2" />
	</flow>
</mule>
